.basket-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  &__preview {
    display: flex;
    column-gap: 16px;
  }
  &__actions {
    display: flex;
    column-gap: 55px;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__kilo-price {
    color: #B9B9B9;
    font-size: 14px;
    line-height: 20px;
  }
  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  &__button {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}