.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  text-align: center;
  height: 32px;
  font-size: 14px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  opacity: 1;

  transition: 0.3s;

  & > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--link {
    font-size: 16px;
    background-color: transparent;

  }
  $borderButton: 4px;
  &--red {

    background-clip: padding-box;
    height: 44px + calc($borderButton * 2);
    background-color:  #FF2F64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    min-width: 113px + $borderButton;
    border: $borderButton solid #FF2F644D;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 26px;

    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }
  &--white {

    background-clip: padding-box;
    height: 44px + calc($borderButton * 2);
    background-color:  #FCFCFC;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    padding: 0 32px;
    border: $borderButton solid rgba(252, 252, 252, 0.4);

    border-radius: 26px;

    font-size: 16px;
    font-weight: 700;
    color: #2D3440;
  }

  &--red-round {
    height: 32px;
    border-radius: 50%;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #FF2F64;
    & svg path {
      fill: #ffffff;
    }
  }
  &:hover {
    opacity: 0.6;
  }
}

