.tooltip-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:hover) &__tooltip {
    opacity: 0;
    visibility: hidden;
  }

  &__tooltip {
    color: white;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 5px;
    border-radius: 4px;
    width: 125px;
    text-align: center;
    line-height: 15px;
    opacity: 1;
    transition: 0.3s;
  }
}