.gifts {

  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 434px;
    margin-bottom: 55px;
  }
  &__body {
    display: flex;
    column-gap: 30px;
    @media (max-width: 1024px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  &__card {
    flex: 1 1 50%;
  }
}