.preview {
  padding-top: 24px;
  &__body {
    display: flex;
    column-gap: 27px;
    align-items: center;
  }

  &__about {
    max-width: 429px;
  }
  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 48px;
  }

  .swiper-slide {
    width: 100px !important;

  }

  .swiper-slide-active {
     width: 327px !important;

  }
}